{%- extends "base.html.j2" -%}
{%- import "blocks.html.j2" as B with context -%}
{%- block body -%}
{{ B.hero_page(c.about.eyebrow, c.about.title, c.about.lead) }}
{%- for s in V.about_sections %}
{{ B.render(s) }}
{%- endfor %}
{%- endblock -%}
